*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(26, 26, 26);
  font-family: Arial, Helvetica, sans-serif;
}

/* Контейнер */
.container{
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 15px;
  color:white;
}

/* Главный заголовок */
.main-title{
  margin-top: 0;
  margin-bottom: 30px;
}

/* Список */
.list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

/* Карточка */
.list__item{
  background-color: rgb(0, 50, 57);
  padding: 20px;
  border-radius: 10px;
  width: 242px;
}

/* Счетчик */
.list__index{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  opacity: .4;
  display: block;
}

/* Описание */
.list__desc{
  line-height: 24px;
  margin: 0;
}