body{
  padding: 30px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.blue-card{
  width: 100px;
  height: 150px;
  border-radius: 10px;
  background-color: blue;
}

.green-card{
  width: 100px;
  height: 150px;
  border-radius: 10px;
  background-color: green;
}