*{margin: 0; padding: 0;}


body {
    background-color: rgb(231, 231, 231);
}

h1 {
    width: 1200px;
    margin: 15px auto;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin: 15px auto;
}


.list-item {
display: flex;
flex-direction: column;
width: 350px;
background-color: white;
padding: 10px 10px 20px 10px;
}

.list-item h4 {
    text-align: right;
    font-weight: 600;
    opacity: .6;
}

.list-item h2 {
    text-align: left;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 10px;
}

.list-item p {
    text-align: left;
    font-weight: 700;
    opacity: .7;
    margin-left: 10px;
    margin-bottom: 15px;
}

.list-item h3 {
    text-align: left;
    font-weight: 700;
    margin-left: 10px;
}

.main-total {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(127, 229, 255);
    margin: 0 auto;
    /* height: 75px; */
}

.main-total p:first-child{
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.main-total p:last-child{
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}