*{
  box-sizing: border-box;
}

body{
  padding: 40;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  background-color: rgb(191, 191, 191);
}

/* Главный заголовок */
.main-title{
  margin-top: 0;
  margin-bottom: 20px;
}


/* Кнопка */
.btn{
  border: none; 
  border-radius: 0;
  color: white;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: rgb(1, 95, 138);
  transition: background-color .3s;
  cursor: pointer;
  outline: none;
}

.btn:hover{
  background-color: rgb(0, 122, 179);
}

.btn:active{
  background-color: rgb(0, 73, 107);
}

.btn:focus-visible{
  outline-offset: 2px;
  outline: 2px solid rgb(1, 95, 138);
}

/* Список */
.note-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Карточка заметки */
.note-list__item{
  position: relative;
  background-color: white;
  padding: 20px;
  width: 300px;
}

/* Уголок */
.note-list__item::after{
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  border: 10px solid transparent;
  border: 20px solid transparent;
  border-left: 10px solid rgb(177, 177, 177);
  border-top: 10px solid rgb(177, 177, 177);
  border-right: 10px solid rgb(191, 191, 191);
  border-bottom: 10px solid rgb(191, 191, 191);
}

/* Текст заметки */
.note-list__text{
  margin: 0;
}

/* Текст заметки в скрытом состоянии */
.note-list__text_hidden{
  height: 56px;
  overflow: hidden;
  margin-bottom: 10px;
}