*{margin: 0; padding: 0;}

body {
    background-color: #98f0ff;
}

.top-container {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.top-input {
    width: 300px;
    padding: 20px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
}

.top-btn {
    padding: 20px;
    margin: 0 20px;
    border: none;
    border-radius: 8px;
    background-color: orangered;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.main-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin: 5px 10px;
    min-width: 160px;
}

.item-text {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    border: none;
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 8px;
    background-color: cornflowerblue;
    cursor: pointer;
}



.btn:nth-child(2) {
    background-color: rgb(45, 194, 0);
    color: white;
}
.done {
    color: white;
    background-color: rgb(45, 194, 0);
    
}

.delete-btn {
    background-color: cornflowerblue;
    color: black;
    border: none;
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

